.wrapper-top
{
    border-top: 2px solid green;
    border-bottom: 1px solid green;
}
.wrapper-buttom
{
    border-top: 2px solid blue;
    border-bottom: 1px solid blue;
}
.arrow
{
    margin-left: 50px;
}
.g-calculate
{
    margin-top: 30px;
}
